@import url('https://fonts.googleapis.com/css?family=Bitter|Montserrat|Roboto+Condensed');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	text-align: center;
	border: 1px black solid;
	padding: .1em;
	margin: .1em;
	border: solid 5px black;
	background-color: black;

}

body {
	font-family: 'Bitter', serif;
	color: white;
	background-color: black;

}

h1 {
	font-family: 'Bitter', serif;
	font-size: 4em;
	font-weight: normal;
	padding: 1.5% .2em;
	letter-spacing: .001em;
	color: #FF3B30;
	
}

#slogan {
	font-style: italic;
	font-size: 2em;
	padding-bottom: .6em;
	margin: 0 10 20 10;
	letter-spacing: .01em;
	color: white;
}


img {
	width: 100%;
}

h2 {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: .5em;
  margin: 0 10 20 10;
  letter-spacing: .01em;
  color: #FF3B30;
}

h3 {
  text-align: center;
  color: #FF3B30;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: red;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

div {
    border-radius: 5px;
    /*background-color: black;*/
    padding: 20px;
}

#dine {
	text-align: center;
	font-size: 3em;
	padding-top: 1em;
	padding-bottom: .5em;
	margin: 0 10 20 10;
	letter-spacing: .01em;
	color: #FF3B30;
}

#map {
        height: 400px;
        width: 100%;    
}

#reviews {
	text-align: center;
	padding-top: 1em;
	font-size: 3em;
	padding-bottom: .6em;
	margin: 0 10 20 10;
	letter-spacing: .01em;
	color: #FF3B30;
}

#salad {
	text-align: center;
	font-size: 1.5em;
}

#jerryrev {
	padding-bottom: 2em;
	text-align: center;
	font-size: 1.5em;
}

#jerry {
	float: left;
	width: 50%;
}

@media only screen and (max-width: 1120px){
		
		#jerry {
		float: none;
		width: 100%;
		text-align: left;
		padding-top: 1em;
	}

}

@media only screen and (max-width: 587px){
		
		#reviews {
			font-size: 3em;
			
		}

		#salad {
			font-size: 1em;

		}

		#jerryrev {
	
			font-size: 1em;
	}
}


@media only screen and (max-width: 480px){
		
		#dine {
			font-size: 2.5em;
	}
}

@media only screen and (max-width: 438px){
	
		h1 {
			font-size: 3em;

	}

		#slogan {
			font-size: 1.5em;

	}

		#dine {
			font-size: 2em;

	}

		#reviews {
			font-size: 2em;
			
	}
}





